@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');

.header {
   font-variant: small-caps;
}

.container {
   flex-direction: column;
}

.f-table {
   margin-bottom: 200px;
}

.f-row {
   display: grid;
   grid-template-columns: 1fr 8fr 1fr;
}

.f-col {
   display: flex;
   align-items: center;
   justify-content: center;
   border: 1px solid #ccc;
   font-family: 'Rajdhani', sans-serif;
}

.hex {
   word-break: break-all;
}

.grid-options {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-gap: 15px;
}

.grid-item {
   border: 1px solid #ccc;
   width: 100px;
}

.grid-item i {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100px;
}

.msg {
   color: blue;
   font-weight: bold;
   font-size: 30px;
}

.log-table {
   display: grid;
   grid-template-columns: 2fr 1fr 1fr;
}

@media screen and (max-width:512px) {
   .grid-options {
      grid-template-columns: repeat(2, 1fr);
   }
}