body {
   height: 100vh;
}

.header {
   font-variant: small-caps;
}

.container {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

table td {
   border: 1px solid #ccc;
}

.grid-options {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-gap: 15px;
}

.grid-item {
   border: 1px solid #ccc;
   width: 100px;
}

.grid-item i {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100px;
}

.msg {
   color: blue;
   font-weight: bold;
   font-size: 30px;
}